<div class="row">

  <div class="col l12 m12 s12">
    <table class="hoverable centered">
      <thead>
        <tr>
          <th data-field="id">Server</th>
          <th data-field="service">Service</th>
          <th data-field="status">Status</th>
          <th data-field="remove">Remove</th>
        </tr>
      </thead>

      <tbody>

        <tr ng-repeat="server in servers | orderBy: 'status':true">
          <td>{{ (server.name) ? server.name : server.host }}</td>
          <td>{{ (server.service == 2) ? server.type : services[ server.service ] }}</td>
          <td>{{ server.status }}</td>
          <td>
            <input type="checkbox" id="{{ server.id }}" ng-click="toggleCheck(server.id)" />
            <label for="{{ server.id }}"></label>
          </td>
        </tr>

      </tbody>
    </table>

    <div class="col s12">
      <a class="waves-effect waves-light btn right" style="margin-top: 30px;" ng-click="removeSelected()">Remove Selected</a>
    </div>

  </div>

</div>
